extends layout

block content
  h1=title

  ul
    each bookInstance in bookInstanceList
      li
        a(href=bookInstance.url) #{bookInstance.book.title} : #{bookInstance.imprint} - 
        if bookInstance.status=='Available'
          span.text-success #{bookInstance.status}
        else if bookInstance.status=='Maintenance'
          span.text-danger #{bookInstance.status}
        else
          span.text-warning #{bookInstance.status}
        if bookInstance.status!='Available'
          span (Due: #{bookInstance.due_back_formatted})
    else
      li There are no book copies in this library
