extends layout

block content
  h1 📓ID: #{title}
  hr
  p #[strong Title:]&nbsp;
    a(href=bookInstance.book.url) #{bookInstance.book.title}
  p #[strong Imprint:] #{bookInstance.imprint}
  p #[strong Status:]&nbsp;
    if bookInstance.status=='Available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status=='Maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status}
  if bookInstance.status!='Available'
    p #[strong Due Back:] #{bookInstance.due_back_formatted}
  hr
  div.row
    div.col-sm
      form(action=bookInstance.url+'/delete' method="post")
        div.form-group
          input.form-control(type="hidden" name="bookInstanceID" value=bookInstance._id required="true")
        button.btn.btn-danger.btn-block(type="submit") 🔥 Delete Book
    div.col-sm.pt-3
      a(href=bookInstance.url + '/update').btn.btn-primary.btn-block ✍️ Update Book
    div.col-sm
    div.col-sm
