extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text' name='title' placeholder='Book title' required='true' value=(book ? book.title : ''))

    div.form-group
      label(for='author') Author:
      select#author.form-control(type='select' name='author' placeholder='Select author' required='true')
        for author in authorList
          if book
            option(value=author._id selected=(author._id.toString() === book.author || author._id.toString() === book.author._id.toString() ? 'selected' : false)) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') Summary:
      textarea#summary.form-control(type='textarea' name='summary' placeholder='Book summary' rows='3' required='true') #{book ? book.summary : ''}
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text' name='isbn' placeholder='Book ISBN' required='true' value=(book ? book.isbn : ''))
    div.form-group
      for genre in genreList
        div.form-check
          input.form-check-input(type='checkbox' name='genre', id=genre._id.toString() value=genre._id checked=genre.checked)
          label.form-check-label(for=genre._id.toString()) #{genre.name}
    button.btn.btn-primary(type='submit') 💾Submit
  hr

  if errors
    ul
      for error in errors
        li.text-danger=error.msg
