extends layout

block content
  h1= title
  p Welcome to MVC library project. Built with: #[strong Node-js, Express, MongoDB, Pug, Bootstrap].
  hr

  h3 📚 The Library Stats
  ul(class='db-stats-list')
    li #[strong Books:] !{data.bookCount}
    li #[strong Copies:] !{data.bookInstanceCount}
    li #[strong Copies available:] !{data.bookInstanceAvailable}
    li #[strong Authors:] !{data.authorCount}
    li #[strong Genres:] !{data.genreCount}


